.dark-mode {
    background-color: #1a202c;
    color: #ffffff;
}

.font-roboto {
    font-family: 'Roboto Mono', monospace;
}

#dark-mode-toggle {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
